
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

div {
    border: 1px solid red;
}

#d1 {
    width: 25px;
    height: 25px;
    background-color: #880000
}

#d2 {
    width: 50px;
    height: 50px;
    background-color: #aa0000
}

#d3 {
    width: 100px;
    height: 100px;
    background-color: #ff0000
}
