/* APP */
* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: Verdana,sans-serif;
  line-height: 1.5em;
}

#root {
  height: 100vh;
}
/*PC SCREEN*/
@media only screen and (min-width: 1440px) {
  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .app main {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-top: 1em;
    flex: 30 0 0 ;
  }
  .app main .tool {
    flex: 1 0 0;
  }
  .app main .text {
    flex: 1 1 0;
    align-self: flex-start;
    margin-top: 16px;
    margin-right: 2em;
    border-bottom: 2px solid #4483D8;
  }

  .app #header .logo {
    width: 100px;
    height: 100px;
  }

}

/*HEADER*/
.app > #header {
  padding: 1em;
  width: 100%;
  /*height: 20vh;*/
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  border-bottom: 1px solid black;
  background-color: #000;
  flex: 5 0 0;
}
.app #header .logo {
  background-image: url("logo.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 1em;
}
.app #header h1 {
  font-family: 'Comfortaa', cursive;
  color:white;
  flex: 1 0 0;
  display: flex;
  align-items: center;
}
.app #header h2 {
  flex: 1 0 0;
  display:flex;
  justify-content: flex-end;
}
.app #header h2 li {
  font-weight: normal;
  color:white;
}

/*MOBILE SCREEN*/
@media only screen and (max-width: calc(1440px - 1px)) {
  .app main {
    flex-direction: column;
    padding: 1em;
    flex: 20 0 0 ;
  }
  .app #header {
    flex-direction: column;
    align-items: flex-start;
  }
  .app #header h2 {
    display: none;
  }
  .app #header .logo {
    width: 60px;
    height: 60px;
  }

}

/*MAIN*/
.app main {
  display: flex;
}

.app main .tool {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app main .text h3 {
  color: #3f51b5;
}
.app main .text h3:not(:first-of-type), .app main .text h4  {
  margin-top: 1em;
}

.app main .tool .members {
    width:100%;
}

.app  main .tool .teamSizeInput {
    max-width: 40vw;
}

.app main .tool .teamsResult {
    width: 100%;
}

.app main .tool .adGoogle {
    width: 100%;
}

.app main .tool .teamsResult div{
  background-color: #00ff95;
}

.app main .tool .MuiFormControl-root {
  width: 100%;
}

.app main .tool .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
}

.app main .regenerate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app main .regenerate .again {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.app main .tool .result {
  display: flex;
  justify-content: space-between;
}

.app main .tool .result div:nth-child(1) {
  flex: 1 0 0;
}

.app main .tool .result ul {
  flex: 7 1 0;
}

.app main .tool .result div:nth-child(3) {
  flex: 2 0 0;
}

.app main .tool ul li[draggable="true"]{
  cursor: grab;
}

/*FOOTER*/
.app footer {
  flex: 1 0 200px;
  width: 100%;
  /*background-color: #777;*/
  margin-top:2em;
  /*background-color: red;*/
  background-image: url("footer.svg");
  background-size: cover;
  background-position: center;
  filter: opacity(15%);
}

ul, ol {
  list-style-type: square;
  padding: 0 1.5em;
}

.cover {
  border: 1px solid black;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5em;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
